Flask
Flask-CORS
Flask-SocketIO    # <-- Esta es la que falta y causa el error
Flask-SQLAlchemy  # <-- Para la base de datos
Flask-Bcrypt      # <-- Para las contraseñas
werkzeug
gunicorn
psycopg2-binary   # <-- Para la base de datos Neon (PostgreSQL)
requests
